<div class="aboutbg h-full w-full flex flex-col    overflow-y-auto">
    <div class="relative flex justify-center item-center m-16">
        <div class="absolute p-6">
            <h2 style="font-family: Poppins;" class="font-black text-white text-5xl ">ABOUT<span
                    style="font-family: Poppins;" class="text-[#ffb400]">&nbsp;ME</span></h2>
        </div>
        <div class="absolute">
            <h2 style="font-family: Poppins;opacity: 0.15;" class="font-black text-white text-8xl text-[#ffffff12]">RESUME</h2>
        </div>
    </div>
    <div class="flex flex-row flex-wrap text-white text-sm pt-20 gap-[8rem] justify-center p-4">
        <div>
            <h2 class="text-[1.5rem] font-semibold">PERSONAL INFOS</h2><br>
            <div class="flex flex-row gap-8 ">
                <div>
                    <ul class="space-y-4">
                        <li>
                            <span style="opacity: 0.8;">First Name</span> : <span class="font-sans">Pratham</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">Last Name</span> : <span>Patel</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">Nationality</span> : <span>Indian</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">Country</span> : <span>India</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">State</span> : <span>Gujrat</span>
                        </li>

                    </ul>
                </div>
                <div>
                    <ul class="space-y-4">
                        <li>
                            <span style="opacity: 0.8;">City</span> : <span>Bharuch</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">Pin Code</span> : <span>392011</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">Phone</span> : <span>+91 9879880033</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">Email</span> : <span>{{email}}</span>
                        </li>
                        <li>
                            <span style="opacity: 0.8;">Language</span> : <span>English,Hindi,Gujrati</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="space-y-4">
            <ul class="md:space-x-8 space-x-4 flex justify-center item-center">
                <li class="inline-block">
                    <div class="h-24 w-24 bg-transparent rounded-lg outline outline-[#333333]"
                        style="outline-width: 0.5px;">
                        <div class="text-center p-1">
                            <span class="text-4xl text-[#ffb400]">6+</span>
                            <h2>Self made projects</h2>
                        </div>
                    </div>
                </li>
                <li class="inline-block">
                    <div class="h-24 w-24 bg-transparent rounded-lg outline outline-[#333333]"
                        style="outline-width: 0.5px;">
                        <div class="text-center p-1">
                            <span class="text-4xl text-[#ffb400]">6+</span>
                            <h2>Self made projects</h2>
                        </div>
                    </div>
                </li>
                <li class="inline-block">
                    <div class="h-24 w-24 bg-transparent rounded-lg outline outline-[#333333]"
                        style="outline-width: 0.5px;">
                        <div class="text-center p-1">
                            <span class="text-4xl text-[#ffb400]">6+</span>
                            <h2>Self made projects</h2>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="md:space-x-8 space-x-4 flex justify-center item-center">
                <li class="inline-block">
                    <div class="h-24 w-24 bg-transparent rounded-lg outline outline-[#333333]"
                        style="outline-width: 0.5px;">
                        <div class="text-center p-1">
                            <span class="text-4xl text-[#ffb400]">6+</span>
                            <h2>Self made projects</h2>
                        </div>
                    </div>
                </li>
                <li class="inline-block">
                    <div class="h-24 w-24 bg-transparent rounded-lg outline outline-[#333333]"
                        style="outline-width: 0.5px;">
                        <div class="text-center p-1">
                            <span class="text-4xl text-[#ffb400]">6+</span>
                            <h2>Self made projects</h2>
                        </div>
                    </div>
                </li>
                <li class="inline-block">
                    <div class="h-24 w-24 bg-transparent rounded-lg outline outline-[#333333]"
                        style="outline-width: 0.5px;">
                        <div class="text-center p-1">
                            <span class="text-4xl text-[#ffb400]">6+</span>
                            <h2>Self made projects</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="flex justify-center item-center pt-4">
        <button (click)="downloadCv()" type="button" class="block w-48 mt-6 text-white hover:text-white border border-[#ffb400] hover:bg-[#ffb400] 
                focus:ring-4 focus:outline-none focus:ring-[#ffb400] font-medium rounded-lg text-sm px-5 py-2.5 
                text-center me-2 mb-2 dark:border-[#ffb400] dark:text-white 
                dark:hover:text-white dark:hover:bg-[#ffb400] dark:focus:ring-[#ffb400]">Download CV</button>
    </div>
    <div class="flex justify-center item-center">
        <hr class="w-96 h-px my-8 bg-[#333333] border-0 m-0 p-0 mb-0">
    </div>

    <div class="flex flex-row justify-center text-white item-center p-4">
        <div class="">
            <div class="flex justify-center item-center p-4 pt-8">
                <span class="text-4xl text-white">My Skills</span>
            </div>
            
            <div class="flex flex-col  pt-6 space-y-12">
                <div class="">
                    <ul class="md:space-x-32 space-x-6 p-4 flex flex-row justify-center item-center ">
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="15"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">85%</span>
                                </div>
                                <div class="flex justify-center text-sm item-center p-2">
                                    <span>JAVASCRIPT</span>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="18"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">82%</span>
                                </div>
                                <div class="flex justify-center text-sm item-center p-2">
                                    <span>ANGULAR</span>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="10"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">90%</span>
                                </div>
                                <div class="flex justify-center text-sm item-center p-2">
                                    <span>HTML</span>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="20"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">80%</span>
                                </div>
                                <div class="flex justify-center text-sm item-center p-2">
                                    <span>CSS</span>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>


                <div>
                    <ul class="md:space-x-32 space-x-6 flex flex-row justify-center item-center flex-wrap">
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="20"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">80%</span>
                                </div>
                                <div class="flex justify-center text-sm item-center p-2">
                                    <span>.NET FRAMEWORK</span>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="30"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">70%</span>
                                </div>
                                <div class="flex text-sm justify-center item-center p-2">
                                    <span>JAVACORE</span>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="50"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">50%</span>
                                </div>
                                <div class="flex text-sm justify-center item-center p-2">
                                    <span>SQL</span>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="relative md:size-24 size-16">
                                <svg class="size-full" width="36" height="36" viewBox="0 0 36 36"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <!-- Background Circle -->
                                    <circle cx="18" cy="18" r="16" fill="none"
                                        class="stroke-current text-[#ffffff12] dark:text-gray-700" stroke-width="2">
                                    </circle>
                                    <!-- Progress Circle inside a group with rotation -->
                                    <g class="origin-center -rotate-90 transform">
                                        <circle cx="18" cy="18" r="16" fill="none"
                                            class="stroke-current text-[#ffb400] dark:text-[#ffb400]" stroke-width="2"
                                            stroke-dasharray="100" stroke-dashoffset="25"></circle>
                                    </g>
                                </svg>
                                <!-- Percentage Text -->
                                <div class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2">
                                    <span
                                        class="text-center md:text-2xl text-lg font-bold text-white dark:text-white">75%</span>
                                </div>
                                <div class="flex text-sm justify-center item-center p-2">
                                    <span>MONGODB</span>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="flex justify-center item-center pt-6">
        <hr class="w-96 h-px my-8 bg-[#333333] border-0 p-0 mb-0">
    </div>

    <div class="flex justify-center item-center p-4 pt-8">
        <span class="text-4xl text-white">Education/Prof. Experience Timeline</span>
    </div>


    <div class="flex justify-center item-center text-white">
        <div class="px-4 ">

            <div class="grid gap-6 row-gap-10 lg:grid-cols-2">
                <div class="lg:py-6 lg:pr-16">
                    <h1 class="pl-2 pb-4 text-2xl">Education</h1>
                    <div class="flex font-sans text-sm">
                        <div class="flex flex-col items-center mr-4">
                            <div>
                                <div
                                    class="flex items-center bg-[#ffb400] justify-center  pb-1 w-10 h-10 border rounded-full">
                                    <mat-icon>school</mat-icon>
                                </div>
                            </div>
                            <div class="w-px h-[3.5rem] bg-[#333333]"></div>
                        </div>
                        <div class="pt-1 pb-8">
                            <p class="mb-2 text-lg font-bold">June 2020 - May 2024</p>
                            <p class="text-gray-400">
                                B.Tech, Computer Engineering
                            </p>
                            <p class="text-gray-400">
                                Dharmasinh Desai University, Nadiad
                            </p>
                        </div>
                    </div>
                    <div class="flex font-sans text-sm">
                        <div class="flex flex-col items-center mr-4">
                            <div>
                                <div
                                    class="flex items-center bg-[#ffb400] justify-center  pb-1 w-10 h-10 border rounded-full">
                                    <mat-icon>school</mat-icon>
                                </div>
                            </div>
                            <div class="w-px h-[3.5rem] bg-[#333333]"></div>
                        </div>
                        <div class="pt-1 pb-8">
                            <p class="mb-2 text-lg font-bold">June 2018 - May 2020</p>
                            <p class="text-gray-400">
                                Higher Secondary Education, HSC
                            </p>
                            <p class="text-gray-400">
                                Shree BAPS Swaminarayan Vidhyamandir, Gondal
                            </p>
                        </div>
                    </div>
                    <div class="flex font-sans text-sm">
                        <div class="flex flex-col items-center mr-4">
                            <div>
                                <div
                                    class="flex items-center bg-[#ffb400] justify-center  pb-1 w-10 h-10 border rounded-full">
                                    <mat-icon>school</mat-icon>
                                </div>
                            </div>
                            <div class="w-px h-[3.5rem] bg-[#333333]"></div>
                        </div>
                        <div class="pt-1 pb-8">
                            <p class="mb-2 text-lg font-bold">June 2016 - May 2018</p>
                            <p class="text-gray-400">
                                Secondary Education, SSC
                            </p>
                            <p class="text-gray-400">
                                G.N.F.C Narmada Vidhyalaya , Bharuch
                            </p>
                        </div>
                    </div>

                </div>
                <div class="lg:py-6 lg:pr-16">
                    <h1 class="pl-2 pb-4 text-2xl">Professional</h1>
                    <div class="flex font-sans text-sm">
                        <div class="flex flex-col items-center mr-4">
                            <div>
                                <div
                                    class="flex items-center bg-[#ffb400] justify-center pl-[0.4rem] pb-1 w-10 h-10 border rounded-full">
                                    <mat-icon class="text-lg">business_center</mat-icon>
                                </div>
                            </div>
                            <div class="w-px h-[3.5rem] bg-[#333333]"></div>
                        </div>
                        <div class="pt-1 pb-8">
                            <p class="mb-2 text-lg font-bold">Presant</p>
                            <p class="text-gray-400">
                                Internship , Full-Stack Devloper
                            </p>
                            <p class="text-gray-400">
                                Samudra Technologies, Ahmedabad
                            </p>
                        </div>
                    </div>
                    <div class="flex font-sans text-sm">
                        <div class="flex flex-col items-center mr-4">
                            <div>
                                <div
                                    class="flex items-center bg-[#ffb400] justify-center pl-[0.4rem] pb-1 w-10 h-10 border rounded-full">
                                    <mat-icon class="text-lg">business_center</mat-icon>
                                </div>
                            </div>
                            <div class="w-px h-[3.5rem] bg-[#333333]"></div>
                        </div>
                        <div class="pt-1 pb-8">
                            <p class="mb-2 text-lg font-bold">Dec 2023 - Apr 2024</p>
                            <p class="text-gray-400">
                                Internship , Full-Stack Devloper
                            </p>
                            <p class="text-gray-400">
                                Samudra Technologies, Ahmedabad
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>